@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@400;600&display=swap');

@import "tailwindcss";

@theme {
    --color-fg-brand-subtle: var(--color-blue-200);
    --color-fg-brand: var(--color-blue-700);
    --color-fg-brand-strong: var(--color-blue-900);

    --color-brand-softer: var(--color-blue-50);
    --color-brand-soft: var(--color-blue-100);
    --color-brand: var(--color-blue-700);
    --color-brand-medium: var(--color-blue-200);
    --color-brand-strong: var(--color-blue-800);

    /* Font Family */
    --font-mono: "IBM Plex Mono", monospace;

    /* Font Sizes with default line-heights */
    --text-xs: 0.75rem;     /* 12px */
    --text-xs--line-height: 1rem;

    --text-sm: 0.875rem;    /* 14px */
    --text-sm--line-height: 1.25rem;

    --text-base: 1rem;      /* 16px */
    --text-base--line-height: 1.5rem;

    --text-lg: 1.125rem;    /* 18px */
    --text-lg--line-height: 1.75rem;

    --text-xl: 1.25rem;     /* 20px */
    --text-2xl: 1.5rem;     /* 24px */
    --text-3xl: 1.875rem;   /* 30px */
    --text-4xl: 2.25rem;    /* 36px */
}

html, body, #root {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}